/* ANNOUNCEMENT CONTAINER */

/*.announement-prof {*/
/*  width: 100%;*/
/*  height: 70%;*/
/*  display: flex;*/
/*}*/
/*.announement-prof .announcement-container {*/
/*  width: 100%;*/
/*  display: flex;*/
/*  flex-direction: column;*/

/*  align-items: center;*/
/*  padding: 3% 0;*/
/*}*/

/*.post-announcement {*/
/*  background: rgb(212, 212, 212);*/
/*  width: 100%;*/
/*  height: 90%;*/
/*  padding: 20px 40px;*/
/*  margin-bottom: 50px;*/
/*  margin-right: auto;*/
/*}*/

.post-announcement .title-announce {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.announement-prof
  .announcement-container
  .post-announcement
  .title-announce
  h3 {
  margin-top: 10px;
  font-size: 18px;
}

.post-announcement .title-announce img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: -17px;
}

.post-announcement .post {
  display: flex;
  flex-direction: column;
  position: relative;
  height: max-content;
}

.post-announcement .post textarea {
  resize: none;
  padding: 15px 20px;
  letter-spacing: 0.5px;
  text-align: justify;
  min-height: 180px;
  border-radius: 7px;
  outline: none;
  font-size: 0.9em;
  margin-bottom: 30px;
  width: 100%;
  border: 2px solid #163666;
}

.post-announcement .post .action-post {
  display: flex;
}

.post-announcement .post .action-post p {
  position: absolute;
  display: none;
  left: 0;
  bottom: 0;
  background: rgb(41, 170, 41);
  color: white;
  width: max-content;
  padding: 4px 10px;
  border-radius: 3px;
}

.post-announcement .post .action-post input[type="submit"] {
  position: absolute;
  right: 5px;
  bottom: 0;
  background: #2D6DB2;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
  font-size: 1rem;
  border-radius: 5px;
  width: 80px;
  text-transform: uppercase;
  padding: 4px;
}

.posted-announcement {
  width: 100%;
  height: max-content;
  margin-right: auto;
}

.posted-announcement h3 {
  /*margin-top: -40px;*/
  margin-top: -30px;
  font-size: 20px;
  font-weight: bold;
}

.posted-announcement .announcements {
  /* background: rgb(223, 223, 223); */
  padding: 10px 20px;
  width: 100%;
  /* height: 300px;
  overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  margin: auto;
}

.posted-announcement .announcements .announce-prof {
  height: max-content;
  margin-bottom: 8px;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  transition: .3s ease;
  border: 2px solid #163666;
}

.posted-announcement .announcements .announce-prof p {
  /* font-size: 16px; */
  line-height: 1.1em;
  border-radius: 10px;
  text-align: justify;
}

.posted-announcement .announcements .announce-prof h5 {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.announce-prof img{
  border-radius: 50%;
  object-fit: cover;
  object-position: center 10%;
  border: 2px solid #182039;
}
.posted-announcement .announcements .announce-prof h5 span {
  /* text-transform: capitalize; */
  font-weight: 600;
  letter-spacing: 0.5px;

  /* text-decoration: underline; */
}

.posted-announcement .announcements .announce-prof h5 .date-time {
  text-decoration: none;
  color: rgb(99, 99, 99);
  font-weight: 400;
  font-size: 12px;
}

.announement-prof .chat-container {
  width: 30%;
  position: relative;
}

.announement-prof .chat-container .chat-box {
  position: absolute;
  bottom: 1px;
  height: 480px;
  width: 100%;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.3);
}

.announement-prof .chat-container .chat-box .chats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.announement-prof .chat-container .chat-box .chats-container .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: #002347;
  color: #fff;
  font-size: 0.8em;
  height: 10%;
  letter-spacing: 1px;
  font-weight: 500;
}

.announement-prof .chat-container .chat-box .chats-container .options img {
  width: 20px;
  filter: invert(1);
  margin-right: 5px;
}

.announement-prof .chat-container .chat-box .chats-container .chats {
  width: 100%;
  height: 80%;
  background: rgb(255, 255, 255);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px 10px;
  display: flex;
  flex-direction: column-reverse;
}

.announement-prof .chat-container .chat-box .chats-container .chats .chat {
  display: flex;
  height: max-content;
  margin: 10px 0;
}

.announement-prof .chat-container .chat-box .chats-container .chats .chat p {
  background: linear-gradient(45deg, #dfe8f0, #dce0e6);
  border-radius: 10px;
  padding: 7px 10px;
  font-size: 0.85em;
  position: relative;
}

.announement-prof .chat-container .chat-box .chats-container .chats .chat img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-top: 5px;
}

.announement-prof .chat-container .chat-box .chats-container .send-chat-option {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 5px;
  background: rgb(255, 255, 255);
}

.announement-prof
  .chat-container
  .chat-box
  .chats-container
  .send-chat-option
  input {
  width: 95%;
  border-radius: 5em;
  border: none;
  background: rgb(230, 230, 230);
  outline: none;
  padding: 7px 15px;
  font-size: 0.91em;
}

.announement-prof
  .chat-container
  .chat-box
  .chats-container
  .send-chat-option
  button {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
}

.announement-prof
  .chat-container
  .chat-box
  .chats-container
  .send-chat-option
  .send-btn
  img {
  width: 25px;
  height: 25px;
}

/* ----ANNOUNCEMENT CONTAINER */
