@import url("./main.css");

::-webkit-scrollbar {
  display: none;
}

.appointment-container .content-header h3 a{
  color: #fff;
  text-decoration: none;
}
.appointment-container .content-header h3 a:hover{
  color: var(--primaryBgButton);
  text-decoration: underline;
}

.appointment-container .content-header .form-button {
  display: flex;
}

.appointment-container .content-header .form-button button {
  margin-left: 10px;
}

/* table */

.appointment-container .appointment-list-container {
  width: 100%;
  height: 100%;
  height: max-content;
  margin-top: 10px;
  overflow: hidden;
  /* overflow-x: scroll; */
}

.appointment-container .appointment-list-container table {
  border-collapse: collapse;
  width: 100%;
}

.appointment-container .appointment-list-container table thead tr th {
  color: #fff;
  text-align: left;
  font-weight: 500;
  padding: 10px;
}

.appointment-container .appointment-list-container table tbody {
  /* display: flex;
  flex-direction: column; */
}

.appointment-container .appointment-list-container table tbody tr {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.228);
  cursor: default;
}

.appointment-container .appointment-list-container table tbody tr:hover {
  background-color: #dbdbdb;
}

.appointment-container .appointment-list-container table tbody tr td {
  padding: 10px;
}
.appointment-container .appointment-list-container table tbody tr td.sched {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 3px;
  /* flex-wrap: wrap; */
}

.appointment-container
  .appointment-list-container
  table
  tbody
  tr
  td.sched
  .sched-date {
  width: max-content;
  height: 30px;
  padding: 5px 10px;
  background-color: var(--primaryBgButton);
  color: #fff;
  border-radius: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: 0.8em;
}

.appointment-container
  .appointment-list-container
  table
  tbody
  tr
  td
  .action-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.appointment-container
  .appointment-list-container
  table
  tbody
  tr
  td
  .action-button
  a, .action-button
  button {
  border: none;
  background: none;
  font-size: .9em;
  /* margin: 0 5px; */
  cursor: pointer;
  background-color: var(--primaryColor);
  color: #fff;
  padding: 8px 10px;
  border-radius: 3px;
  text-decoration: none;
  transition: all ease-out .2s;
  text-align: center;
}

.appointment-container .appointment-list-container table
tbody
tr
td
.action-button
a:hover {
  background-color: var(--secondaryColor);
  
}

.appointment-container .appointment-list-container table
tbody
tr
td
.action-button
a.disabled{

  background-color: #adadad;
  cursor: not-allowed;
}

.appointment-container .appointment-list-container table tbody tr td .action-button button {
  background-color: var(--primaryBgButton);
}

.appointment-container
  .appointment-list-container
  table
  tbody
  tr
  td
  .action-button
  button:hover {
  background-color: var(--hoverButton);
}

/* Modal Container */

.modal-overlay-container {
  position: fixed;
  background-color: #00000091;
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay-container > div {
  padding: 1% 2%;
  width: 40%;
  height: max-content;
  max-height: 90%;
  background-color: #fff;
  border-radius: 4px;
  overflow-y: scroll;
}

.modal-overlay-container > div .modal-header {
  /* background-color: #be7676; */
  margin-bottom: 10px;
}

.modal-overlay-container > div .modal-content {
  /* background-color: #76b8be; */
}

.modal-overlay-container > div .modal-content form .form-input {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-between; */
  margin-bottom: 5px;
}

.modal-overlay-container > div .modal-content form .form-input.date {
  flex-direction: column;
  align-items: flex-start;
  /* background-color: red; */
}

.modal-overlay-container > div .modal-content form .form-input.date table {
  width: 100%;
}

.modal-overlay-container
  > div
  .modal-content
  form
  .form-input.date
  table
  tr
  td
  input {
  width: 80%;
}

.modal-overlay-container
  > div
  .modal-content
  form
  .form-input.date
  table
  tr
  td
  button {
  background-color: var(--successBgButton);
  color: #fff;
  padding: 10px 12px;
  border-radius: 3px;
  border: none;
  width: 100%;
  transition: all ease-out 0.2s;
}

.modal-overlay-container
  > div
  .modal-content
  form
  .form-input.date
  table
  tr
  td
  button:hover {
  background-color: var(--hoverSuccessButton);
}

.modal-overlay-container
  > div
  .modal-content
  form
  .form-input.date
  table
  tr
  td
  button.del-date {
  background-color: var(--alertBgButton);
}

.modal-overlay-container
  > div
  .modal-content
  form
  .form-input.date
  table
  tr
  td
  button.del-date:hover {
  background-color: var(--hoverAlertButton);
}

.modal-overlay-container > div .modal-content form .form-input label {
  margin-bottom: 5px;
  font-size: 1em;
  font-weight: 500;
  color: #5a5a5a;
  width: max-content;
}

.modal-overlay-container > div .modal-content form .form-input input,
.form-input select {
  padding: 10px 12px;
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0.521);
  border-radius: 3px;
  outline: none;
  /* width: max-content; */
}

.modal-overlay-container > div .modal-content form .form-input input:read-only {
  background-color: #b5b5b5;
  cursor: default;
}

.modal-overlay-container > div .modal-content form .form-input input:focus,
.form-input select:focus {
  outline: 1px solid var(--primaryBgButton);
}

.modal-overlay-container > div .modal-content form .form-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-overlay-container > div .modal-content form .form-button button {
  background-color: #afafaf;
  color: #fff;
  border: none;
  padding: 10px 12px;
  margin-right: 5px;
  border-radius: 3px;
  transition: all ease-out 0.2s;
  cursor: pointer;
}

.modal-overlay-container
  > div
  .modal-content
  form
  .form-button
  button#new-app-add {
  background-color: var(--primaryBgButton);
}

.modal-overlay-container > div .modal-content form .form-button button:hover {
  background-color: #8e8e8e;
}

.modal-overlay-container
  > div
  .modal-content
  form
  .form-button
  button#new-app-add:hover {
  background-color: var(--hoverButton);
}

/* Message modal */
.modal-overlay-container .message-modal {
  width: 40%;
  height: max-content;
  background-color: #fff;
  text-align: center;
  align-self: flex-start;
  padding: 2%;
}

.modal-overlay-container .message-modal .icon {
  margin-top: 10px;
}

.modal-overlay-container .message-modal .icon .fas {
  font-size: 5em;
  color: var(--successBgButton);
}








/* edit */

.modal-overlay-container
.edit-appointment-container{
  /* background-color: red; */
  padding: 0;
}


.modal-overlay-container
.edit-appointment-container .modal-header{
  /* background-color: red; */
  padding: 3% 4%;
  border-bottom: 1px solid #0003;
}

.modal-overlay-container
.edit-appointment-container .modal-content form .se-details{
  border-bottom: 1px solid #0003;
  padding: 2% 4%;
}

.modal-overlay-container
.edit-appointment-container .modal-content form .se-details .form-input{
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  padding: 0;;
  
}


.modal-overlay-container
.edit-appointment-container .modal-content form .app-status{
  border-bottom: 1px solid #0003;
  padding: 2% 4%;
}

.modal-overlay-container
.edit-appointment-container .modal-content form .app-status .form-input{
  margin: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
  padding: 0;
}


.modal-overlay-container
.edit-appointment-container .modal-content form .app-status .form-input select{
  padding: 4px 10px;
  margin-left: 10px;
}


.modal-overlay-container
.edit-appointment-container .modal-content form .app-status .students-email {
  margin-top: 10px;
  height: max-content;
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 1%;
}

.modal-overlay-container
.edit-appointment-container .modal-content form .app-status .students-email ul li {
  /* list-style: none; */
  display: flex;
  margin-bottom: 10px;
}

.modal-overlay-container
.edit-appointment-container .modal-content form .app-status .students-email ul li .student{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay-container
.edit-appointment-container .modal-content form .app-status .students-email ul li .student p{
  font-size: .9em;
} 

.modal-overlay-container
.edit-appointment-container .modal-content form .app-status .students-email ul li .student .profile{
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 10px;
}

.modal-overlay-container
.edit-appointment-container .modal-content form .app-status .students-email ul li .student .profile img{
  width: 100%;
  height: 100%;
  object-fit: cover ;
}


.modal-overlay-container
.edit-appointment-container
> div form
.form-button{
  margin: 0;
  padding:  4%;
}



.modal-overlay-container
.edit-appointment-container
> div
.form-button
button#edit-app-save {
  background-color: var(--primaryBgButton);

}



.modal-overlay-container
.edit-appointment-container
> div
.form-button
button#edit-app-save:hover{
  background-color: var(--hoverButton);
}


.modal-overlay-container
.edit-appointment-container
> div
.form-button
button#archive-app-btn{
  background-color: var(--alertBgButton);
}  

.modal-overlay-container
.edit-appointment-container
> div
.form-button
button#archive-app-btn:hover{
  background-color: var(--hoverAlertButton);
}

.modal-overlay-container
.edit-appointment-container
> div
.form-button
button#edit-app-save{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-overlay-container
.edit-appointment-container
> div
.form-button
button#edit-app-save .loader{
  width: 20px;
  width: 20px;
  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}


.loader{
  width: 20px;
  width: 20px;
  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}


.loader img{
  width: 100%;
  height: 100%;
  
}

.modal-overlay-container
.edit-appointment-container
> div
.form-button
button#edit-app-save .loader img{
  width: 100%;
  height: 100%;
  
}


.modal-overlay-container
.edit-appointment-container
> div
.form-button
button#edit-app-save:disabled{
  background-color: #b8b8b8;
  cursor: not-allowed;
}

.modal-overlay-container
.edit-appointment-container
> div
.form-button
button#edit-app-cancel:disabled{
  background-color: #b8b8b8;
  cursor: not-allowed;
}



.modal-overlay-container .new-appointment-container{
  justify-self: flex-start;
}









.add-service-dates-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: none;
  align-items: flex-start;
  justify-content: center;


  background-color: #00000028;
}

.add-service-dates-modal .add-date-modal{
  background-color: #fff;
  width: 40%;
  height: max-content;
  border-radius: 4px;
  
  margin-top: 20px;
}

.add-service-dates-modal .add-date-modal .add-date-title{
  padding: 2% 4%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.331);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-service-dates-modal .add-date-modal .add-date-title .close .fa{
  color: #9e9e9e;
  transition: all ease-out .2s;
  cursor: pointer;
}

.add-service-dates-modal .add-date-modal .add-date-title .close .fa:hover{
  color: #1e1e1e;
}

.add-service-dates-modal .add-date-modal form{
  padding: 4%;
}

.add-service-dates-modal .add-date-modal form .form-input{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 20px;
}

.add-service-dates-modal .add-date-modal form .form-input label{
  margin-bottom: 5px;
}

.add-service-dates-modal .add-date-modal form .form-input label span{
  color: var(--alertBgButton);
}

.add-service-dates-modal .add-date-modal form .form-input input{
  font-size: 1em;
  padding: 8px 12px;
  cursor: default;
  outline: none;
  border-radius: 3px;
  border: none;
  background-color: #ededed;
  display: none;
}

.add-service-dates-modal .add-date-modal form .form-input input:focus{
  outline: 1px solid var(--primaryBgButton);
}


.add-service-dates-modal .add-date-modal form .form-button{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-service-dates-modal .add-date-modal form .form-button button{
  padding: 10px 12px;
  font-size: 1em;
  background-color: #b6b6b6;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
  transition: all ease-out .2s;
}

.add-service-dates-modal .add-date-modal form .form-button button:hover{
  background-color: #a2a2a2;
}

.add-service-dates-modal .add-date-modal form .form-button button:last-child{
  background-color: var(--primaryBgButton);
}

.add-service-dates-modal .add-date-modal form .form-button button:last-child:hover{
  background-color: var(--hoverButton);
}



.service-list-container{
  /* background-color: rgb(64, 64, 64); */
  width: 100%;
  height: max-content;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}

.service-list-container .se-date{
  background-color: #fff;
  padding: 2%;
  color: #000;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #000;
}

.service-list-container .se-date > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.service-list-container .se-date > div .date-info{
  margin-bottom: 5px;
}

.service-list-container .se-date > div .date-info h2{
  font-size: 1.2em;
  font-weight: 500;
}
.service-list-container .se-date > div .date-info p {
  font-weight: 300;
}

.service-list-container .se-date > div .date-info p span{
  font-weight: 500;
}

.service-list-container .se-date > div .date-student{
  display: flex;
  align-items: center;
}

.service-list-container .se-date > div .date-student span{
  margin-right: 20px;
  font-weight: 400;
  font-size: .9em;
}

.service-list-container .se-date > div .date-student .student-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.service-list-container .se-date > div .date-student .student-list .student{
  position: relative;
  /* background-color: red; */
}

.service-list-container .se-date > div .date-student .student-list .student:hover .hover{
  display: flex;
}

.service-list-container .se-date > div .date-student .student-list .student .hover{
  position: absolute;
  top: -80%;
  left: -20%;

  display: none;
  background-color: rgba(61, 61, 61, 0.482);
  width: max-content;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
  z-index: 1;
}

.service-list-container .se-date > div .date-student .student-list .stud-img{
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #fff;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryBgButton);
  
}


.service-list-container .se-date > div .date-student .student-list .stud-img p{
  font-size: .8em;
  color: #fff;
}

.service-list-container .se-date > div .date-student .student-list .stud-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.service-list-container .se-date .date-action{
  align-items: flex-end;
}

.service-list-container .se-date .date-action .date-added span{
  font-size: .8em;
}


.service-list-container .se-date .date-action .cancel-app button{

  font-size: .9em;
  padding: 10px 12px;
  background-color: var(--alertBgButton);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease-out .2s;
}

.service-list-container .se-date .date-action .cancel-app button.add-slot-btn{
  background-color: var(--primaryBgButton);
}

.service-list-container .se-date .date-action .cancel-app button:hover{
  background-color: var(--hoverAlertButton);
}

.service-list-container .se-date .date-action .cancel-app button.add-slot-btn:hover{
  background-color: var(--hoverButton);
}


.service-list-container .se-date .date-action .cancel-app button.add-slot-btn:disabled{
  background-color: #b4b4b4;
  cursor: not-allowed;
}

.service-list-container .se-date .date-action .cancel-app button:disabled{
  background-color: #b4b4b4;
  cursor: not-allowed;
}












/* cancel appointment modal */

.cancel-appointment-overlay{
  position: fixed;
  background-color: #0003;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1;

  display: none;
  align-items: center;
  justify-content: center;
}


.cancel-appointment-overlay > div{
  background-color: #fff;
  width: 50%;
  height: max-content;
  /* max-height: 80%; */
  border-radius: 4px;
  overflow: hidden;
}

.cancel-appointment-overlay > div > form > div{
  border-bottom: 1px solid #0003;
  padding: 3% 4%;
  font-size: 1em;
}

.cancel-appointment-overlay > div > form > .modal-header{
  background-color: #e1e6e9;
}

.cancel-appointment-overlay > div > form > .modal-header p{
  font-size: 1.2em;
}

.cancel-appointment-overlay > div > form > .modal-header span{
  font-size: .9em;
}

.cancel-appointment-overlay > div > form > .list-of-students{
  padding: 0;
}

.cancel-appointment-overlay > div > form > .list-of-students p{
  padding: 2% 4%;
  font-weight: 500;
}

.cancel-appointment-overlay > div > form > .list-of-students .students-list{

  padding: 2% 4%;
  height: max-content;
  max-height: 150px;
  overflow: hidden;
  overflow: scroll;
}

.cancel-appointment-overlay > div > form > .list-of-students .students-list ol li{
  list-style: none;
  margin-bottom: 2%;
  /* background-color: red; */
}


.cancel-appointment-overlay > div > form > .cancel-reason .form-input{
  display: flex;
  flex-direction: column;

}
.cancel-appointment-overlay > div > form > .form-button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.cancel-appointment-overlay > div > form > .form-button button{
  font-size: .9em;
  padding: 10px 20px;
  background-color: var(--alertBgButton);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease-out .2s;
  margin-left: 5px;
}

.cancel-appointment-overlay > div > form > .form-button button:first-child{
  background-color: rgb(202, 202, 202)
}


.cancel-appointment-overlay > div > form > .form-button button#yes-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.cancel-appointment-overlay > div > form > .form-button button:disabled{
  background-color: #b4b4b4;
  cursor: not-allowed;
}






/* add slot modal */
.add-slot-overlay{
  position: fixed;
  z-index: 1;
  background-color: #0003;
  top:0 ;
  left: 0;
  width: 100%;
  height: 100%;

  display: none;
  align-items: center;
  justify-content: center;
}


.add-slot-overlay > div{
  background-color: #fff;
  border-radius: 4px;
  width: 40%;
}

.add-slot-overlay > div > div{
  padding: 3% 4%;
  border-bottom: 1px solid #0003;
}


.add-slot-overlay > div > .modal-header{
  background-color: #e2e7ec;
}


.add-slot-overlay > div > .modal-header span{
  font-size: .8em;
}

.add-slot-overlay > div > .modal-header p{
  font-size: 1.1em;
}

.add-slot-overlay > div > .add-slot-content .form-input{
  display: grid;
  grid-template-columns: 40% 30%;
  margin-bottom: 5px;
  align-items: center;

}

.add-slot-overlay > div > .add-slot-content .form-input input{
  padding: 5px 12px;
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0.521);
  border-radius: 3px;
  outline: none;
}


.add-slot-overlay > div > .add-slot-content .form-input input:disabled{
  background-color: #d5d5d5;
  border: 1px solid rgba(0, 0, 0, 0.248);
}


.add-slot-overlay > div > .form-button{
  display: flex;
  justify-content: flex-end;
}

.add-slot-overlay > div > .form-button button{
  background-color: #afafaf;
  color: #fff;
  border: none;
  padding: 10px 12px;
  margin-right: 5px;
  border-radius: 3px;
  transition: all ease-out 0.2s;
  cursor: pointer;
}

.add-slot-overlay > div > .form-button button:last-child{
  background-color: var(--primaryBgButton);
}
